@font-face {
	font-family: 'Roboto Mono';
	src: url('./assets/RobotoMono-VariableFont_wght.ttf');
}

.App {
	width: 100%;
	font-family: 'Roboto Mono', monospace;
	font-size: 0.9rem !important;
}

#output .form-control:disabled,
.form-control[readonly] {
	background-color: inherit;
	opacity: 1;
}

code {
	font-size: 1em;
}

.disabled-input {
	opacity: 0.6;
	user-select: none;
	pointer-events: none;
}

#container {
	display: flex;
	align-items: stretch;
	width: 100%;
	height: auto;
	justify-content: space-between;
}

#input {
	display: flex;
	flex-direction: column;
	min-width: 40%;

	#input-content {
		border: 2px solid black;
		border-radius: 5px;
		padding: 2vh 2vw;

		#fastp-arguments,
		#additional-arguments {
			user-select: none;
			cursor: pointer;
		}
	}
}

.accordion-button {
	box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.5) !important;
}

#output {
	display: flex;
	flex-direction: column;
	width: 60%;

	#output-text {
		width: 100%;
		height: 100%;
		max-height: 150vh;
		min-height: 30vh;
		font-size: 0.9rem;
		border: 2px solid black;
	}

	#duration {
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: bold;
	}
}

#input-header,
#output-header {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	user-select: none;

	i {
		cursor: pointer;
	}
}

#loading {
	height: 25px;
	width: 25px;
	animation: loading-anim 1.5s linear infinite;
	align-self: center;
}

.download-buttons {
	display: flex;
	justify-content: space-between;

	button {
		font-size: 0.9rem;
	}
}

#offline-instructions {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: center;
	align-items: flex-start;

	.card {
		margin-top: 10vh;
		width: 70vw;
		min-height: 40vh;
		overflow-y: auto;
		padding: 0 2rem;
		box-sizing: border-box;

		.btn-close {
			position: absolute;
			top: 0;
			right: 0;
			margin: 1.5rem 2rem;
			opacity: 1;
		}
	}
}

footer {
	margin-top: 10vh;
}

.full-width-container {
	width: 100% !important;
}

.disabled {
	opacity: 0.5;
}

.cursor-pointer {
	cursor: pointer;
}

@keyframes loading-anim {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}